body {
  color: #5B5951;
  background-color: white;
}

#background-home{
  background-color: #31C28D;
}

hr {
  height: 1px;
}

.bold {
  font-weight: bold;
}

.btn-lg {
  padding: 12px 18px;
  font-size: 20px;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


.clear-div:after {
clear: both;
content: " ";
display: block;
font-size: 0;
height: 0;
visibility: hidden;
}

/*new homepage*/

.homepage-title {
  /*font-size: 42px;*/
  font-size: 52px;
  color: white;
  font-weight: normal;
  margin: 20px 0px 0px 0px;
 /* font-family: 'Open Sans', sans-serif;*/
  letter-spacing:2px;
}

.overlay { 
  color:#fff;
  position:absolute;
  z-index:12;
  /*top:50%;*/
  left:0;
  width:100%;
  text-align:center;
}

.center {
	margin-right: auto;
	margin-left: auto;
}


.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.font-26 {
  font-size: 26px;
}

.font-condensed {
  font-family: 'PT Sans Narrow', sans-serif;
}

.margin-0 {
  margin: 0px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}


.margin-align-center {
  margin-left: auto; 
  margin-right: auto;
}

.margin-top-40 {
  margin-top: 40px;
}

.navbar-default {
  background-color: white;
	border-color: #C8C8C8;
}


.navbar-brand {
  color: #5B5951;
  background-color: white;
    padding: 5px 15px;
  display: table-cell;
  vertical-align: middle;
  background-color: white;
}

.navbar {
  background-color: white;
  margin-bottom: 0px;
}

.navbar-default {
  background-color: white;
}

.navbar-header {
  background-color: white;
}


#homepage-top {
  background-color: white;
}

#homepage-about-us {
  background-color: white;
  padding: 24px 0px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#navbar-logo {
	height: 44px;
	display: inline-block;
	margin-bottom: 0px;
	/*vertical-align: middle;*/
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  /*background-color: #EE8C24;*/
  background-color: #00B174;
}

.navbar-default .navbar-nav > .active > button,
.navbar-default .navbar-nav > .active > button:hover,
.navbar-default .navbar-nav > .active > button:focus {
  color: #ffffff;
  background-color: white;
}

.navbar-default .navbar-nav > li > div > button {
  color: #ffffff;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > div > button:hover,
.navbar-default .navbar-nav > li > div > button:focus {
  color: white;
  /*background-color: #EE8C24;*/
  background-color: #00B174;
}

.nav > li > a {
padding: 15px 24px;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 360px;
}

.padding-left-10 {
 	padding-left: 10px;
 }



#facebook-submit {
  height: 31px;
  width: 198px;
}

.homepage-icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.homepage-paragraph {
  padding-top: 12px;
  padding-right: 20px; 
  padding-left: 20px;
  font-size: 18px;
}



@media screen and (min-width: 768px) {
  .jumbotron {
    /*padding: 48px 0;*/
    padding: 36px 0;
  }
}

.vertical-center {
  height:100%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: " ";
  display: inline-block;
  vertical-align: middle;    /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .container {
  max-width: 100%;

  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
                           /* reset the font property */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dark-bg { background:rgba(0,0,0,0.6); }

#rooftop-image{
  position:fixed;
  left:0;top:0;
  min-width:100%;
  min-height:100%;
  width:auto;
  height:auto;
  z-index:-100;
  visibility: visible;
}




